@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700&subset=latin-ext");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

#board {
  height: 100vh;
  background-image: url("../images/board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2e4238;
    padding: 25px 0;
    box-shadow: 0 5px 10px #679aa7;
    .headline {
      color: #73c7d6;
    }
    .create-column {
      border-radius: 5px;
      padding: 10px;
      background-color: #73c7d6;
      font-size: 1rem;
      color: #2e4238;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 3px 5px #1a2520;
      }
    }
  }
  .column-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    .column {
      background-color: #73c7d6;
      color: #2e4238;
      border-radius: 5px;
      align-self: flex-start;
      width: 30%;
      margin-bottom: 20px;
      position: relative;
      .column-title {
        background-color: #ffffff;
        border-radius: 5px 5px 0 0;
        height: 40px;
        line-height: 2.5rem;
        padding-left: 40px;
      }
      .column-card-list {
        list-style: none;
        min-height: 150px;
        background-color: #ffffff;
        border-radius: 0 0 5px 5px;
        padding-bottom: 50px;
        overflow: hidden;
        .card {
          display: flex;
          padding: 10px 0 10px 10px;
          .card-description {
            padding-left: 10px;
          }
        }
        .btn-delete {
          font-weight: 700;
          color: #73c7d6;
          font-size: 1rem;
          cursor: pointer;
          background-color: transparent;
        }
      }
      .column-title {
        color: #73c7d6;
        background-color: #2e4238;
      }
      .btn-delete-column {
        color: #73c7d6;
        background-color: transparent;
        font-weight: 700;
        font-size: 1.5rem;
        position: absolute;
        right: 10px;
        top: 5px;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .add-card {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 0 0 5px 5px;
        height: 40px;
        font-size: 1rem;
        font-weight: 700;
        background-color: #73c7d6;
        color: #2e4238;
        cursor: pointer;
      }
    }
  }
}